@import "~normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

* {
    box-sizing: border-box;
}

:root {
    --color: rgb(0, 248, 248);
    --color-h: rgb(126, 252, 246);
    --highlight: rgb(246, 105, 1);
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: rgb(2, 17, 20);
    color: var(--color);
    font-size: 16px;
    line-height: 1.3;
    font-family: "Titillium Web", sans-serif;
}

.join-body {
    text-align: center;
}

p {
    margin: 0;
    padding: 0;
}

.game-container {
    text-align: center;
}

.ui-container {
    padding: 8px;
    display: flex;
    flex-direction: column;
}

/* Phone landscape only */
@media only screen and (max-width: 1024px) and (orientation: landscape) {
    .ui-container {
        flex-direction: row;
    }

    .client-data {
        flex-grow: 1;
    }
}

.ui-container .control-buttons {
    display: flex;
    flex-direction: column;
}

.client-data {
    text-align: left;
}

.row {
    display: flex;
    justify-content: center;
}

.ui-container button {
    width: 50px;
    height: 50px;
    margin: 4px;
    border-radius: 0;
    border: none;
    text-align: center;
    font-size: 32px;
    background-color: transparent;
    color: var(--color);
    cursor: pointer;
}

.ui-container button:hover {
    color: var(--color-h);
    background-color: rgb(5, 29, 32);
}

.instructions {
    padding: 8px;
    width: 100%;
    max-width: 900px;
}

.instructions section {
    padding: 8px 16px;
    background-color: rgb(5, 29, 32);
    border-left: 1px solid var(--highlight);
}

.instructions p {
    margin-bottom: 8px;
}

.instructions button {
    border: none;
    color: var(--color);
    cursor: pointer;
    margin: 8px;
    position: relative;
    background-color: transparent;
    padding: 0;
    border-radius: 5px;
}

.instructions button:hover {
    --color: var(--color-h);
}

.instructions button div {
    background-color: rgb(5, 29, 32);
    z-index: 10;
    position: relative;
    border-radius: 5px;
    padding: 8px;
}

.qr-container {
    display: inline-block;
    position: relative;
    --color: var(--highlight);
}

.qr-container img {
    z-index: 10;
    border-radius: 5px;
}

.instructions button::after,
.instructions button::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 50%;
    box-shadow: 0 0 5px 1px var(--color), 0 0 2px 2px var(--color);
    z-index: 5;
    border-radius: 5px 0 5px 0;
    pointer-events: none;
}

.instructions button::before {
    top: 0;
    left: 0;
}

a,
a:visited,
a:hover {
    color: var(--color);
    text-shadow: 0 0 4px var(--color);
    text-decoration: none;
}

a:hover {
    color: var(--color-h);
}

strong {
    color: var(--highlight);
}

.spinner {
    height: 16px;
    width: 16px;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: 0.75s linear infinite spin;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.debug-container {
    position: absolute;
    bottom: 0;
    left: 0;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex;
    flex-direction: row;
}

.fill {
    flex-grow: 1;
}
